{"filter":false,"title":"index.styl","tooltip":"/stylus/base/index.styl","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1453391098828,"hash":"a7e4810b3b4b67be72c1554fa6379d969c37ec12"}