:root {
	--wtxt: #fff;
	--btxt: #000;
	--serfifont: 'Slabo 27px', serif;
	--snas: 'Asap', sans-serif;
	--title: 'Rokkitt', serif;
}

.semi {
	background-color: white;
	border: 2px solid brown;
	text-align: center;
	width: 45px;
	height: 66px;
	float: left;
	border-radius: 40px/15px;
	padding-top: 3px;
	margin: 1px;
	font-family: 'Asap', sans-serif;
}

section {
	position: absolute;
	left: 10%;
	width: 7in;
	height: 11in;
	background-image: url("cheerios.jpg");
	color: black;
	border: 1px solid black;
	font-family: 'Asap', sans-serif;
}

img {
	position: absolute;
	float: none;
	width: 40%;
	height: 3.25in;
	left: 30%;
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

#foodinfo {
	position: absolute;
	width: 80%;
	height: 30%;
	left: 9%;
	top: 20%;
	color: var(--wtxt);
	background: radial-gradient(farthest-side at 50% 20%, rgb(10,200,14), green);
	border: 8px solid rgba(255,255,255,.12);
}

#fillerdiv { /*Easy trick to center vertically*/
	height: 38%;
}

#foodinfo {
	text-align: center;
}

#instoats {
	font-family: 'Slabo 27px', serif;
	font-size: 28;
}

#horline {
	margin-top: -5px;
	margin-bottom: 30px;
	color: rgba(255,255,255,.3);
}

#flavor {
	font-size: 60;
	font-family: 'Rokkitt', serif;
}

#disclaimer {
	font-family: 'Asap', sans-serif;
	margin-top: -5px;
	color: var(--btxt);	
}

#badgeStats {
	position: absolute;
	display: float-right;
	right: .20in;
	top: .45in;
}

#nrg {
	padding: 12px;
	height: 100px;
	width: 120px;
	border-radius: 50%;
	margin-bottom: -50px;
	text-align: center;
	color: red;
	background-color: yellow;
	font-size: 23;
	font-family: 'Slabo 27px', serif;
}

#box {
	background-color: navy;
	color: var(--wtxt);
	padding: 5px;
	border-radius: 8px;
	font-size: 15;
	text-align: center;
	height: 40;
	font-family: 'Asap', sans-serif;
}

#smallprint {
	position: absolute;
	left: 5px;
	bottom: 8px;
	width: 33%;
	font-size: 10;
}

#nutritionInfo {
	position: absolute;
	display: inline-block;
	bottom: 20px;
	right: -55px;
	width: 55%;
	color: brown;
	margin-bottom: 30px;
}

#arbinfo {
	position: absolute;
	bottom: 5px;
	right: 10px;
}

#unimportant {
	position: absolute;
	right: 10px;
	bottom: 140px;
	text-align: right;
}