{"filter":false,"title":"load.styl","tooltip":"/styles/load.styl","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1453390926184,"hash":"b495ab59831a7e1f05b693dea43621b2911f760e"}