//     LAYOUT

//Add layout rules here

//Variables
up-low-marg = 1.5%


.page-wrapper
    margin         auto
    margin-top     up-low-marg
    margin-bottom  up-low-marg
    width          8.5in
    height         11in
    padding        1in
    border         1px solid #9F9F9F
    overflow       auto
    background     white
    
h1
    text-align     center
    
.main
    footer
        text-align center
        margin-bottom 10px    
    
.wrapper
    text-align     left
    border-top     1px solid lightgrey
    
    h3
        text-align center
    
    > div
        display         inline-block
        width           33%
        
// .design-selection
//     @extends $l-col-1-3
    
// .design-archives
//     @extends $l-col-2-3
    
// .zen-resources
//     @extends $l-col-3-3

