{"filter":false,"title":"l-col-x-y.styl","tooltip":"/stylus/layout/l-col-x-y.styl","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":9,"column":11},"action":"insert","lines":["cols-n(n)","  for i in 1..n","    $l-col-{i}-{n}","      display block","      position absolute","      width unit(100/n, '%')","      left unit( (i - 1)*100/n, '%')","","for i in 1..12","  cols-n(i)"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":9,"column":11},"end":{"row":9,"column":11},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1453818427674,"hash":"8bffeea84e03de906fae2958b7716e968a5e0180"}