{"filter":false,"title":"states.styl","tooltip":"/stylus/states/states.styl","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"e90eb4f18702b8676c9b7afd60055b613541ba49","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1453389316000}